
.sidebar {
    background-color: #333;
    color: #fff;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 10%;
}
/* Estilos para el menú lateral */
.sidebar {
    position: fixed; /* Permanece en su lugar mientras se desplaza por la página */
    width: 10%; /* Ancho del menú lateral */
    top: 0;
    left: -10%; /* Esconde el menú lateral */
    background-color: #e4e3e1;
    height: 100%; /* Ocupa todo el espacio vertical */
    transition: all 0.3s ease-in-out; /* Animación al mostrar y ocultar el menú */
    z-index: 999; /* Mantiene el menú en la parte superior */
  }
  
  .sidebar a{
    display: block; /* Los enlaces ocupan todo el ancho del menú */
    padding: 10px; /* Espacio entre los enlaces */
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease-in-out; /* Animación al pasar el mouse por encima */
  }
  .sidebar Link{
    align-items: center;
    text-align: center;
    display: block; /* Los enlaces ocupan todo el ancho del menú */
    padding: 10px; /* Espacio entre los enlaces */
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease-in-out; /* Animación al pasar el mouse por encima */
  }
  
  .sidebar a:hover {
    background-color: #c5c3c3;
    color: #fff;
  }
  
  /* Estilos para mostrar el menú lateral en pantallas pequeñas */
  @media screen and (max-width: 8000px) {
    .sidebar {
      left: 0; /* Muestra el menú lateral */
    }
    
    .main-content {
      margin-left: 11%; /* Empuja el contenido principal hacia la derecha */
    }
  }